/* Global Styles */
body{
  background-image: url(https://img.freepik.com/free-photo/abstract-specks-red-light_23-2148012067.jpg?w=740&t=st=1678288457~exp=1678289057~hmac=3c1c0e39540d5c68ecc8717a8c1e2115fc99c9c31b2540a4c25e42de191732bfttps://img.freepik.com/free-photo/3d-render-wooden-table-looking-out-defocussed-christmas-tree_1048-14546.jpg?w=740&t=st=1678287020~exp=1678287620~hmac=b5c33de88f97dc6a41058fd520e3535d29c601476040ca0550b29d7be5a8dbc5);
  background-size: cover;
  background-position:center;
  background-attachment:local;
}
.overlay {
  position:sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 250, 250, 0.747);
  z-index: 1;
  border-radius: 10px
}
/* Header Styles */
header {
  background-color: #3a3838;
  color: #0a0a0a83;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #614242;
}

/* Main Content Styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 20px 0;
}

h1, h2 {
  text-align: center

  
}
.flex-mid{
  display: flex;

}
.logo{
  padding: 20px;
  font-size: larger;
  text-align: center;
  text-decoration: none;
  background-color: #c46575;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
}
.logo :hover{
  opacity: 0.7;
  cursor: pointer;
}
footer{
  text-align: center;
  background-color: #000000;
  color: azure;
  position:absolute;
  bottom: 0px;
  border-radius: 10px;

}